# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude Code local files
.claude/

#Picture
profile.jpg

#CV
Saad_CV.pdf

#public/AS logo.svg
#public/raspberry - linux project photo.jpg
#public/projects/rpi-hero.jpg
#public/story/journey-university.jpg
#src/assets/avatar.svg
#src/assets/S-icon-portfolio.svg
#public/leadership/jzt-1.jpeg
#public/leadership/jzt-2.jpg
#public/leadership/jzt-3.jpeg
#public/leadership/jzt-logo.jpeg
